# Flask
instance/
venv/

# Python
*.pyc
*.pyo

*~

# Virtualenv
venv/*

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# latex stuff
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.gz
*.log
main.pdf
main.out
main.brf
.texpadtmp/

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# texpad
.tpbuild

# never ignore .gitkeep
!/*.gitkeep
